@media only screen and (max-width:780px) {

    body{
        background: url('../img/back-1.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;

    }

    .content{
        margin-top: 170%;
    }

    .me{
        padding: 10% 5% 5% 5%;
    }

    .skills2{
        position: static;
        float: none;
    }

    .skills1{
        position: static;
        float: none;
    }

    .skills-container{
        padding-bottom: 10%;
        display: inline;
    }

    #footer{
        padding: 0% 0% 5% 0%;
    }

    #content-footer{
        padding: 5% 0% 5% 8%;
    }
    
    .img-slider{
        width: 200px;
        height: 200px;
        padding: 3% 15% 3% 15%;
    }

    #carousel{
        margin: auto;
        padding: 0% 0% 5% 0%;
    }

    #skills{
        padding-bottom: 10%;
    }

    .icons{
        padding: 5%;
    }

} 